@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: rgba(24,24,24,1);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.LoginScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    min-width: 800px;
}

@media (max-width: 1280px) {
    .LoginScreen {
        flex-direction: column;
        height: 150vh;
    }
}

.LoginLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width:  50%;
    height: 100%;
    border-bottom-left-radius: 20%;
    background-color: rgba(32 ,32,32,1);
}


@media (max-width: 1280px) {
    .LoginLogo{
        border-bottom-left-radius: 0;
    }
}

.LoginLogoImg {
    width: 50%;
    max-width: 50%;
}

.Login {
    width: 50%;
    max-width: 50%;
    height: 50%;
    max-height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoginInfo {
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 10px   ;
}

.LoginInfoForgotPassword {
    color: white;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
}

@media (max-width: 1280px) {
    .LoginInfoForgotPassword {
        align-items: center;
    }
}

.LoginInfoForgotPasswordTitle {
    font-size: 30px;
    font-weight: 800;
    line-height: 36px;
    text-align: center;
}

.LoginInfoForgotPasswordSubTitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.LoginInfoEmail {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.LoginInfoEmailHeader {
    color: white;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}

.LoginInfoEmailBox {
    position: relative;
    width: 100%;
}

.LoginInfoEmailInp {
    width: 100%;
    height: Fixed (42px);
    padding: 9px 0 9px 0;
    border-radius: 6px;
    border: 1px solid #484848;
    background-color: transparent;
    position: relative;
    z-index: 1;
    color: white;
    box-sizing: border-box;
    padding-left: 1rem;
}

.LoginInfoEmailInp:focus {
    outline: none;
    border: 1px solid #06B6D4;
}

.LoginInfoInpError {
    border: 1px solid #F87171;
}

.LoginInfoEmailLabel {
    position: absolute;
    top: 9px;
    left: 10px;
    color: rgba(72,72,72,1);
    font-size: 13px ;
}

.LoginInfoEmailError {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: right;
    color: #F87171;
    text-align: start;
    width: 100%	;
}

.LoginInfoEmailInp:focus + .LoginInfoEmailLabel {
    color: transparent;
}

.LoginInfoEmailInp:not(:placeholder-shown).LoginInfoEmailInp:not(:focus) + .LoginInfoEmailLabel {
    color: transparent;
}

.LoginInfoOptions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.LoginInfoOptionsSignIn {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
}

.LoginInfoOptionsSignInLink {
    text-decoration: none;
    color: #0891B2;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: underline;
    cursor: pointer;
}

.LoginInfoSignIn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.LoginInfoSignInBtn {
    width: 100%;
    height: Hug (40px);
    padding: 8px 16px 8px 16px;
    border-radius: 6px;
    gap: 8px;
    background-color: #0891B2;
}

.LoginInfoDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 50px;
    color: rgba(72,72,72,1);
}

.ForgotPasswordRequestSucceed {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    top: 50px;
    right: 50px;
    background-color: #1B2B25;
    border-radius: 15px;
    padding: 10px;
    gap: 10px;
    transform: scale(0.0000001);
}

.ForgotPasswordRequestSucceedPopUp {
    transform: scale(1);
}

.ForgotPasswordRequestSucceedExit {
    cursor: pointer;
}

.ForgotPasswordRequestSucceedLabel {
    color: white;
}